<ion-header>
  <ion-toolbar>
    <ion-title>{{'_pages.resetPassword' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="absolute-center custom-margin-bottom">
      <ion-col size-sm="6" offset-sm="3">
        <ion-card *ngIf="isInvalid">
          <ion-card-header class="ion-text-center">
            <ion-label>
              <h1>{{ "_user.invalidLink" | translate }}</h1>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size-md="10" offset-sm="1">
                <ion-button
                  type="button"
                  color="secondary"
                  fill="clear"
                  expand="block"
                  [routerLink]="['/user/login']"
                  routerLinkActive="selected"
                  routerDirection="root"
                >
                  {{ "_links.backToLogin" | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="resetPassword">
          <ion-card-content>
            <form
              #form="ngForm"
              [matchPassword]="['npsw', 'cpsw']"
              (ngSubmit)="confirmResetPassword()"
            >
              <ion-item-group id="email">
                <ion-item color="transparent">
                  <ion-label for="email" position="floating">
                    <b>
                      {{ "_user.emailAddress" | translate }}
                      <span class="required"> *</span>
                    </b>
                  </ion-label>
                  <ion-input
                    type="text"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="resetPassword.email"
                    required
                    aria-label="Email"
                  ></ion-input>
                </ion-item>
                <app-validation-errors [model]="email"></app-validation-errors>
              </ion-item-group>

              <ion-item-group id="newPassword">
                <ion-item color="transparent">
                  <ion-label for="npsw" position="floating">
                    <b>
                      {{ "_password.new" | translate }}
                      <span class="required"> *</span>
                    </b>
                  </ion-label>
                  <ion-input
                    type="password"
                    name="npsw"
                    #npsw="ngModel"
                    [(ngModel)]="resetPassword.newPassword"
                    required
                    passwordPattern
                    aria-label="New Password"
                  ></ion-input>
                </ion-item>
                <app-validation-errors [model]="npsw"></app-validation-errors>
              </ion-item-group>

              <ion-item-group id="confirmPassword">
                <ion-item color="transparent">
                  <ion-label for="cpsw" position="floating">
                    <b
                      >{{ "_password.confirm" | translate }}
                      <span class="required"> *</span>
                    </b>
                  </ion-label>
                  <ion-input
                    type="password"
                    name="cpsw"
                    #cpsw="ngModel"
                    ngModel
                    required
                    aria-label="Confirm Password"
                  ></ion-input>
                </ion-item>
                <app-validation-errors [model]="cpsw"></app-validation-errors>
              </ion-item-group>

              <ion-button
                type="submit"
                class="submit-button"
                color="warning"
                fill="clear"
                expand="block"
                [disabled]="form.invalid || form.pristine"
              >
                {{ "_common.confirm" | translate }}
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
