ion-chip {
  height: 9em;
  width: 98%;
}

.file-icon {
  width: 3em;
  height: 3em;
}

.chip-content {
  display: flex;
  align-items: center;
}

.file-icon {
  flex-shrink: 0;
}

.details {
  margin-left: 5px;
  max-width: calc(100% - 90px);
}

.directory-name {
  display: block;
  font-weight: bold;
  margin: 10px 0px;
  font-size: 20px;
}

.directory-path {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
