<ion-header>
  <ion-toolbar>
    <ion-title> {{'_pages.sharedFiles' | translate }} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-breadcrumbs *ngIf="!!currentDirectoryDetails">
    <ion-breadcrumb *ngIf="currentDirectoryDetails.name==='$SHARED_ROOT'">
      <ion-chip>
        <ion-icon name="share"></ion-icon>
        <ion-label> {{'_pages.sharedFiles'| translate}} </ion-label>
      </ion-chip>
    </ion-breadcrumb>
    <ng-container *ngIf="currentDirectoryDetails.name !=='$SHARED_ROOT'">
      <ion-breadcrumb
        *ngFor="let parentDirectory of currentDirectoryDetails.pathParentDirectories"
      >
        <ion-chip
          button
          [color]="uiHelper.accessibilityColor(parentDirectory.accessLevel)"
          (click)="loadDirectory(parentDirectory.id)"
        >
          <ion-icon
            *ngIf="parentDirectory.name==='$SHARED_ROOT'"
            name="share"
          ></ion-icon>
          <ion-label>
            {{ parentDirectory.name==='$SHARED_ROOT' ? ('_pages.sharedFiles'|
            translate) : parentDirectory.name}}
          </ion-label>
        </ion-chip>
        <ion-icon slot="separator" name="chevron-forward"></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb>
        <ion-chip> {{currentDirectoryDetails.name}} </ion-chip>
      </ion-breadcrumb>
    </ng-container>
  </ion-breadcrumbs>
</ion-header>

<ion-content class="content" *ngIf="currentDirectoryDetails">
  <app-file-explorer
    [directoryDetails]="currentDirectoryDetails"
    (directoryChange)="loadDirectory($event)"
  ></app-file-explorer>
</ion-content>
