<ion-header>
  <ion-toolbar>
    <ion-title> {{'_pages.favorites' | translate }} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-breadcrumbs *ngIf="favoritePseudoDirectory">
    <ion-breadcrumb>
      <ion-chip>
        <ion-icon name="heart"></ion-icon>
        <ion-label>
          {{('_common.favoriteSize'| translate : {size: totalSize})}}
        </ion-label>
      </ion-chip>
    </ion-breadcrumb>
  </ion-breadcrumbs>
</ion-header>

<ion-content class="content" *ngIf="favoritePseudoDirectory">
  <app-file-explorer
    [directoryDetails]="favoritePseudoDirectory"
  ></app-file-explorer>
</ion-content>
