<ion-header>
  <ion-toolbar>
    <ion-title>{{'_pages.confirmMail' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-row class="absolute-center custom-margin-bottom">
      <ion-col size-sm="4" offset-sm="4">
        <ion-card *ngIf="isInvalid">
          <ion-card-header class="ion-text-center">
            <ion-label>
              <h1>{{ "_user.invalidLink" | translate }}</h1>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size-md="10" offset-sm="1">
                <ion-button
                  type="button"
                  color="secondary"
                  fill="clear"
                  expand="block"
                  [routerLink]="['/user/login']"
                  routerLinkActive="selected"
                  routerDirection="root"
                >
                  {{ "_links.backToLogin" | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
