<ion-app
  [class.dark-theme]="dataService.darkTheme$ | async"
  [class.invert-colors]="dataService.invertColor$ | async"
  [class.grayscale]="dataService.grayscale$ | async"
  [class.highlight-links]="dataService.linkHighlight$ | async"
>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>
            <ion-label>
              <img
                width="24"
                alt="MyFileSpace Logo"
                src="../../../../../assets/icon/favicon-32x32.png"
              />
            </ion-label>
            &nbsp;
            <strong>MyFileSpace</strong>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu">
        <ion-list lines="none">
          <ion-list-header>
            {{ "menu" | translate }}
            &emsp;
            <ion-chip *ngIf="authService.isLoggedIn$ | async" color="tertiary">
              #{{ (dataService.user$ | async).tagName }}
            </ion-chip>
          </ion-list-header>
          <app-navigation-link
            *ngFor="let link of otherLinks; let i = index"
            [link]="link"
          >
          </app-navigation-link>

          <ng-container *ngIf="authService.isLoggedIn$ | async">
            <app-navigation-link
              *ngFor="let link of connectedUserLinks; let i = index"
              [link]="link"
            >
            </app-navigation-link>
          </ng-container>

          <app-navigation-link
            *ngFor="let link of appPages; let i = index"
            [link]="link"
          >
          </app-navigation-link>
          <ng-container *ngIf="(authService.isLoggedIn$ | async) === false">
            <app-navigation-link
              *ngFor="let link of freeUserLinks; let i = index"
              [link]="link"
            >
            </app-navigation-link>
          </ng-container>
        </ion-list>

        <ion-list id="labels-list" *ngIf="labels">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon
              aria-hidden="true"
              slot="start"
              ios="bookmark-outline"
              md="bookmark-sharp"
            ></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
