<ion-header>
  <ion-toolbar>
    <ion-title>{{'_pages.register' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-row class-sm="absolute-center custom-margin-bottom">
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size-md="10" offset-sm="1">
                <form
                  #form="ngForm"
                  [matchPassword]="['psw', 'cpsw']"
                  (ngSubmit)="onRegister()"
                >
                  <ion-list class="ion-text-center">
                    <ion-list-header>
                      <h1>{{ "accountInfo" | translate }}</h1>
                    </ion-list-header>

                    <ion-item-group id="email">
                      <ion-item color="transparent">
                        <ion-label for="email" position="floating">
                          <b>
                            {{ "_user.emailAddress" | translate }}
                            <span class="required"> *</span>
                          </b>
                        </ion-label>
                        <ion-input
                          type="text"
                          name="email"
                          #email="ngModel"
                          [(ngModel)]="registerModel.email"
                          emailCheck
                          required
                        ></ion-input>
                      </ion-item>
                      <app-validation-errors
                        [model]="email"
                      ></app-validation-errors>
                    </ion-item-group>

                    <ion-item-group id="username">
                      <ion-item color="transparent">
                        <ion-label for="tname" position="floating">
                          <b> {{ "_user.tagName" | translate }} </b>
                        </ion-label>
                        <ion-input
                          type="text"
                          name="tname"
                          #tname="ngModel"
                          [(ngModel)]="registerModel.tagName"
                          usernameCheck
                          minlength="6"
                        ></ion-input>
                      </ion-item>
                      <app-validation-errors
                        [model]="tname"
                        [number]="6"
                      ></app-validation-errors>
                    </ion-item-group>

                    <ion-item-group id="password">
                      <ion-item color="transparent">
                        <ion-label for="psw" position="floating">
                          <b>
                            {{ "password" | translate }}
                            <span class="required"> *</span>
                          </b>
                        </ion-label>
                        <ion-input
                          type="password"
                          name="psw"
                          #psw="ngModel"
                          [(ngModel)]="registerModel.password"
                          required
                          passwordPattern
                        ></ion-input>
                      </ion-item>
                      <app-validation-errors
                        [model]="psw"
                      ></app-validation-errors>
                    </ion-item-group>

                    <ion-item-group id="confirmPassword">
                      <ion-item color="transparent">
                        <ion-label for="cpsw" position="floating">
                          <b
                            >{{ "_password.confirm" | translate }}
                            <span class="required"> *</span>
                          </b>
                        </ion-label>
                        <ion-input
                          type="password"
                          name="cpsw"
                          #cpsw="ngModel"
                          [(ngModel)]="registerModel.confirmPassword"
                          required
                        ></ion-input>
                      </ion-item>
                      <app-validation-errors
                        [model]="cpsw"
                      ></app-validation-errors>
                    </ion-item-group>
                  </ion-list>
                  &nbsp;
                  <ion-button
                    type="submit"
                    class="submit-button"
                    color="primary"
                    expand="block"
                    [disabled]="form.invalid || form.pristine"
                  >
                    {{ "register" | translate }}
                  </ion-button>
                  &nbsp;

                  <ion-button
                    type="button"
                    color="secondary"
                    fill="clear"
                    expand="block"
                    [routerLink]="['/user/login']"
                    routerLinkActive="selected"
                    routerDirection="root"
                  >
                    {{ "_links.backToLogin" | translate }}
                  </ion-button>
                </form>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
