<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      {{ "_password.change" | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{
        "_common.cancel" | translate
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <form
        #form="ngForm"
        [matchPassword]="['npsw', 'cpsw']"
        (ngSubmit)="confirmChangePassword()"
      >
        <ion-item-group id="password">
          <ion-item color="transparent">
            <ion-label for="psw" position="floating">
              <b>
                {{ "_password.current" | translate }}
                <span class="required"> *</span>
              </b>
            </ion-label>
            <ion-input
              type="password"
              name="psw"
              #psw="ngModel"
              [(ngModel)]="changePassword.currentPassword"
              required
              passwordPattern
              aria-label="Current Password"
            ></ion-input>
          </ion-item>
          <app-validation-errors [model]="psw"></app-validation-errors>
        </ion-item-group>

        <ion-item-group id="newPassword">
          <ion-item color="transparent">
            <ion-label for="npsw" position="floating">
              <b>
                {{ "_password.new" | translate }}
                <span class="required"> *</span>
              </b>
            </ion-label>
            <ion-input
              type="password"
              name="npsw"
              #npsw="ngModel"
              [(ngModel)]="changePassword.newPassword"
              required
              passwordPattern
              aria-label="New Password"
            ></ion-input>
          </ion-item>
          <app-validation-errors [model]="npsw"></app-validation-errors>
        </ion-item-group>

        <ion-item-group id="confirmPassword">
          <ion-item color="transparent">
            <ion-label for="cpsw" position="floating">
              <b
                >{{ "_password.confirm" | translate }}
                <span class="required"> *</span>
              </b>
            </ion-label>
            <ion-input
              type="password"
              name="cpsw"
              #cpsw="ngModel"
              ngModel
              required
              aria-label="Confirm Password"
            ></ion-input>
          </ion-item>
          <app-validation-errors [model]="cpsw"></app-validation-errors>
        </ion-item-group>

        <ion-button
          type="submit"
          class="submit-button"
          color="warning"
          fill="clear"
          expand="block"
          [disabled]="form.invalid || form.pristine"
        >
          {{ "_common.confirm" | translate }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
