<ion-header>
  <ion-toolbar>
    <ion-title>{{ "_pages.browse" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card id="fixed-search-card" class="search-input">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="search-type-select">
            <ion-segment
              value="1"
              color="tertiary"
              (ionChange)="toggleSearchType($event)"
            >
              <ion-segment-button layout="icon-start" [value]="1">
                <ion-icon name="document"></ion-icon>
                <ion-label class="hide-mobile">
                  {{ "_search.files" | translate }}
                </ion-label>
              </ion-segment-button>
              <ion-segment-button
                layout="icon-start"
                [value]="2"
                backgroundcolor="secondary"
              >
                <ion-icon name="person"></ion-icon>
                <ion-label class="hide-mobile">
                  {{ "_search.users" | translate }}
                </ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-col>
        <ion-col
          [sizeSm]="(authService.isLoggedIn$|async) ? '6':'8'"
          size-xs="12"
        >
          <ion-searchbar
            placeholder="{{ '_common.search' | translate }}"
            [debounce]="1000"
            animated
            (ionInput)="find($event)"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="auto" *ngIf="authService.isLoggedIn$|async">
          <ion-item class="ion-align-items-center current-user-check">
            <ion-checkbox
              color="tertiary"
              slot="start"
              (ionChange)="toggleIncludeOwn($event)"
            ></ion-checkbox>
            <ion-label text-wrap>
              {{ "_search.includeSelf" | translate }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid id="search-content" class="search-result" [style.margin-top.px]="fixedCardHeight">
    <ion-row>
      <ng-container *ngIf="searchType == 1 && files && files.length">
        <ion-col size="12" size-lg="6" size-xl="4" *ngFor="let file of files">
          <app-file-card
            (click)="openFileDetailsMenu(file.id)"
            [file]="file"
          ></app-file-card>
        </ion-col>
      </ng-container>

      <ng-container *ngIf="searchType == 2 && users && users.length">
        <ion-col size="12" size-lg="6" size-xl="4" *ngFor="let user of users">
          <app-user-card [user]="user"></app-user-card>
        </ion-col>
      </ng-container>
      <ng-container
        *ngIf="(searchType == 1 && files && !files.length) || (searchType == 2 && users && !users.length)"
      >
        <ion-col
          size="12"
          size-md="4"
          offset-md="4"
          class="ion-text-center ion-margin"
        >
          {{ "_search.noResultsFound" | translate }}
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-infinite-scroll
      threshold="100px"
      #infiniteScroll
      (ionInfinite)="loadMore()"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

  <ion-menu
    id="file-details-menu"
    side="end"
    menuId="file-details-menu"
    contentId="search-content"
  >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{"_details.file" | translate }} </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-object-details
        [objectDetails]="fileDetailsObject"
        [isFile]="true"
      ></app-object-details>
    </ion-content>
  </ion-menu>
</ion-content>
