.file-icon {
  width: 6em;
  height: 6em;
}

ion-chip {
  max-height: 9em;
  height: 9em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  ion-label {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

ion-icon {
  margin-left: 5px;
}

ion-label {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
