<ion-chip button (click)="directoryChange.emit(directory.id)">
  <ion-icon
    id="{{ directory.name }}-trigger"
    size="large"
    class="file-icon"
    name="folder"
    [color]="
      directory.accessLevel === 1
        ? 'tertiary'
        : directory.accessLevel === 2
        ? 'secondary'
        : 'success'
    "
    (click)="directoryChange.emit(directory.id)"
  ></ion-icon>
  <ion-label (click)="directoryChange.emit(directory.id)">
    {{ directory.name }}
  </ion-label>
</ion-chip>
<ion-popover
  trigger="{{ directory.name }}-trigger"
  triggerAction="context-menu"
  #contextPopover
  [dismissOnSelect]="true"
>
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item button (click)="openDetailsMenu()">
          <ion-label> {{ "_common.details" | translate }} </ion-label>
        </ion-item>
        <ng-container *ngIf="isOwner">
          <ion-item button (click)="openDirectoryEdit()">
            <ion-label> {{ "_common.edit" | translate }} </ion-label>
          </ion-item>
          <ion-item button (click)="addDirectoryCut()">
            <ion-label> {{ "_common.cut" | translate }} </ion-label>
          </ion-item>
          <ion-item button (click)="deleteDirectory()">
            <ion-label> {{ "_common.delete" | translate }} </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
