<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <canvas id="storageUsage" style="height: 300px; width: 300px"></canvas>
    </ion-col>
    <ion-col size="auto">
      <canvas
        id="storageLast30DaysUsage"
        style="height: 300px; width: 300px"
      ></canvas>
    </ion-col>
    <ion-col size="auto">
      <canvas id="storageNumber" style="height: 300px; width: 300px"></canvas>
    </ion-col>

    <ion-col size="auto">
      <canvas
        id="storageLast30DaysNumber"
        style="height: 300px; width: 300px"
      ></canvas>
    </ion-col>
  </ion-row>
</ion-grid>
