<ion-chip class="container">
  <ion-icon
    id="{{ file.name }}-trigger"
    size="large"
    class="file-icon"
    [name]="fileIcon"
    [color]="
      file.accessLevel === 1
        ? 'tertiary'
        : file.accessLevel === 2
        ? 'secondary'
        : 'success'
    "
  ></ion-icon>
  <ion-label id="hover-label-{{ file.name }}-trigger">
    {{ file.name }}
  </ion-label>
</ion-chip>

<ion-popover
  class="transparent-popover"
  trigger="hover-label-{{ file.name }}-trigger"
  triggerAction="click"
  alignment="center"
  side="bottom"
>
  <ng-template>
    <ion-content class="ion-padding">
      {{ "_file.name" | translate }}: {{ file.name }}
      <br />
      {{ "_common.size" | translate }}: {{ size }}
    </ion-content>
  </ng-template>
</ion-popover>
<ion-popover
  trigger="{{ file.name }}-trigger"
  triggerAction="context-menu"
  [dismissOnSelect]="true"
>
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item button (click)="showDetails.emit()">
          <ion-label> {{ "_common.details" | translate }} </ion-label>
        </ion-item>
        <ng-container *ngIf="isOwner">
          <ion-item button (click)="openFileEdit()">
            <ion-label> {{ "_common.edit" | translate }} </ion-label>
          </ion-item>
          <ion-item button (click)="addFileCut()">
            <ion-label> {{ "_common.cut" | translate }} </ion-label>
          </ion-item>
          <ion-item button (click)="deleteFile()">
            <ion-label> {{ "_common.delete" | translate }} </ion-label>
          </ion-item>
        </ng-container>
        <ion-item button (click)="downloadFile()">
          <ion-label> {{ "_file.download" | translate }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
