.file-input {
  display: none;
}
.file-info {
  padding: 0.5rem;

}
.img-thumbnail {
  margin: auto;
  width: 100% !important;
  height: 100% !important;
  width: 300px !important; //any size
  height: 300px !important;
  max-width: 300px !important; //any size
  max-height: 300px !important; //any size
}
